body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #15161B;
    box-sizing: border-box;
}

/* ----- HEADER ----- */
.logo{
    text-align: center;
}
.logo h2 {
    display: inline-block;
    color: #fff;
    font-size: 1.8rem;
}
.logo span {
    color: #1A7993;
}

/* ----- FIRST SECTION ----- */
.first-image{
    height: 100%;
    margin-top: 15%;
}
.first-image img{
    width: 450px;
    height: auto;
}
.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 50px;
    height: 80vh;
    
}
.area-title{
    width: 30%;
    height: 100%;
    margin-top: 12%;
}
.area-title h1{
    font-size: 2.8rem;
}
.area-title button{
    display: inline-block;
    width: 200px;
    height: 45px;
    background-color: #1A7993;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.area-title button a{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
 
}

/* ----- AREA CARDS -----*/
.section-cards {
    width: 100%;
}
.section-cards h2{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.card{
    width: 200px;
    height: 180px;
    background-color: #2C2F37;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-bottom: 20px;
}
.card img{
    margin: auto;
}
.card:hover{
    background-color: #1A7993;
    transition: 0.3s all;
}

/* THIRD SECTION */
.third-section {
    width: 100%;
    height: 70vh;
    background-color: #1A7993;
    margin-top: 17%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.area-title-two{
    margin-top: -7%;
}
.area-title-two h1{
    font-size: 2rem;
    color: #fff;
}
.area-title-two h3{
    color: #fff;
    font-size: 1.3rem;
}
.image2 {
    height: 70vh;
}
.image2 img {
    height: 100%;
}
.area-title-two a {
    font-family: 'Oswald';
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px; 

}
.area-title-two button {
    width: 250px;
    height: 50px;
    background-color: #fff;
    border:none;
    cursor: pointer;
    border-radius: 3px;
}
/* ----- AREA-FORM -----*/
.area-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    color: #fff;
}
.area-form h2{
    text-align: center;
}
.formulario form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.formulario form input{
    width: 330px;
    height: 35px;
    margin-bottom: 15px;
}
.formulario form input{
    padding-left: 10px;
}
.formulario form button{
    width: 340px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background: #1A7993;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
.formulario form button:hover{
    transform: scale(1.1);
}

/* ----- FOOTER ------*/
Footer{
    margin-top: 5rem;
    text-align: center;
}
.social img{
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}